div.parsys_column {

    width: 100%;
    float: left;
    border: 0;
    vertical-align:top;
    padding: 0;
    margin: 0;
}
div.parsys_column .section {
    overflow:hidden;
    width: 100%; 
}


/* column control layouts */
div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 460px; margin-right:10px}
div.cq-colctrl-lt0-c1 { width: 460px; margin-left: 10px}

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 300px; margin-right: 10px;}
div.cq-colctrl-lt1-c1 { width: 300px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt1-c2 { width: 300px; margin-left: 10px; }

/* layout 2: 16% 16% 16% 33% ( grid2.6 + grid2.6 + grid2.6 + grid4 ) */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 140px; margin-right: 10px;}
div.cq-colctrl-lt2-c1 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c2 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c3 { width: 220px; margin-left: 10px }

/* layout 3: 4 x 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt3 { }
div.cq-colctrl-lt3-c0 { width: 160px; margin-right: 10px;}
div.cq-colctrl-lt3-c1 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c2 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c3 { width: 160px; margin-left: 10px; }

/* layout 4: 5 x 20% ( grid2.5 + grid2.5 + grid2.5 + grid2.5 + grid2.5 ) */
div.cq-colctrl-lt4 { }
div.cq-colctrl-lt4-c0 { width: 124px; margin-right: 10px;}
div.cq-colctrl-lt4-c1 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c2 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c3 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c4 { width: 124px; margin-left: 10px; }

/* widepage layouts */

/* layout 5 : 50% 50% ( grid8 + grid8 ) */
div.cq-colctrl-lt5 { }
div.cq-colctrl-lt5-c0 { width: 460px; margin-right:10px}
div.cq-colctrl-lt5-c1 { width: 460px; margin-left: 10px}

/* layout 6 : 25% 25% ( grid4 + grid4 + grid4 + grid4) */
div.cq-colctrl-lt6 { }
div.cq-colctrl-lt6-c0 { width: 220px; margin-right:10px}
div.cq-colctrl-lt6-c1 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c2 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c3 { width: 220px; margin-left: 10px}


@media(min-width:769px) and (max-width:1024px){

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 {     padding: 0 50px; }
div.cq-colctrl-lt0>div { width: 400px; margin-right:0px}


/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 300px; margin-right: 0px;}
div.cq-colctrl-lt1-c1 { width: 300px; margin-left: 0px; margin-right: 0px;}
div.cq-colctrl-lt1-c2 { width: 300px; margin-left: 0px; }

}

@media(min-width:668px) and (max-width:768px){
/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 {     padding: 0 100px; }
div.cq-colctrl-lt0>div { width: 500px; margin-right:0px}

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { padding: 0 40px; }
div.cq-colctrl-lt1-c0 { width: 300px; margin-right: 0px;}
div.cq-colctrl-lt1-c1 { width: 300px; margin-left: 0px; margin-right: 0px;}
div.cq-colctrl-lt1-c2 { width: 300px; margin-left: 0px; }
}


@media (max-width:667px){

div.cq-colctrl-lt0-c0,div.cq-colctrl-lt0-c1{
width:100%;
height:auto;
margin-right:0px;
margin-left:0px;                            

}
div.cq-colctrl-lt1-c0,div.cq-colctrl-lt1-c1,div.cq-colctrl-lt1-c2{
width:100%;
height:auto;
margin-right:0px;
margin-left:0px;                            

}        
}
