
<br>
<table align="center" cellspacing="0" cellpadding="0"> <tr> 
<td class="applybutton" align="center" width="195" height="50" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #2995C9; display: block;">

<a href="${properties.linkurl}?${properties.queryParameter}" style="text-decoration: none; width:100%; display:inline-block;font: 21px Myriad Pro, Adobe Clean, Arial;color: #2995C9;line-height: 50px;"><span style="color: #2995C9">${properties.title}</span></a>
</td> 
</tr>
</table>
<br>
<style>
.applybutton{
height:50px;
width:195px;            
}            
.applybutton>a{
font-size:21px;
line-height:50px;        
}

@media(max-width:667px){
.applybutton{
height:80px;
width:300px;            
}            
.applybutton>a{
font-size:32px;
line-height:80px;        
}
 }

</style>    
